.newbanner{
    background-color: aqua;
    color: red;
    align-items: center;
    text-align: center;
}
.top{
    height: 300px;
}
.blog-title{
    color: aqua;
}
#log{
    background-color: azure;
    color: red;
    
}